
.minecraft/mods/.index
.minecraft/mods/.connector
.minecraft/logs
.minecraft/crash-reports
.minecraft/data
.minecraft/local
.minecraft/saves
.minecraft/screenshots
.minecraft/shaderpacks
.minecraft/fabricloader.log
.minecraft/.vscode
.minecraft/usernamecache.json
.minecraft/usercache.json
.minecraft/modernfix
*.disabled
.minecraft/config/blockswap/known_states
.minecraft/config/alexsmobs
*.txt
.minecraft/resourcepacks/Minecraft-Mod-Language-Modpack-Converted-1.20.1.zip
.minecraft/imgui.ini
.minecraft/rhino.local.properties
.minecraft/patchouli_data.json
.minecraft/config/fabric/indigo-renderer.properties
.minecraft/backups
icon-exports-x32
.minecraft/debug
.minecraft/kubejs/server_scripts/test